{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优惠券聚集地</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="优惠券，天猫，淘宝">
    <meta name="description" content="分享优惠券，">
    <link rel="stylesheet" href="{% static 'css/amazeui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/petshow.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/coupon/couponcss.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/amazeui.min.js' %}"></script>
    <script src="{% static 'js/countUp.min.js' %}"></script>
    <script src="{% static 'js/amazeui.lazyload.min.js' %}"></script>



</head>
<body>
{% include "header_coupon.html" %}
{% block content %}{% endblock %}
{% include "footer_coupon.html" %}

</body>
</html>