{% extends "base_coupon.html" %}
{% load staticfiles %}


{% block content %}

<div class="am-g am-imglist">
    <ul id="cake_content" data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-6 am-gallery-default">

        {% for coupon in coupon_list %}
        <li>
            <div class="am-gallery-item am_list_block">

                <a href="">
                    <div class="am_img_bg">
                        <img class="am_img animated" src="{% static 'img/loading.gif' %}"
                             data-original="{{coupon.img}}"
                             alt="优惠券"/>
                    </div>
                    <span class="coupon_name">{{coupon.name}}</span>

                    <div>
                        <img class="img_juan" src="{% static 'img/coupon/juan.png' %}">

                        <span class="coupon_rule">{{coupon.rule}}</span>
                    </div>

                    <div class="am_listimg_info">
                        {% if coupon.price %}
                        <span class="ori_price">原价：<span
                                class="ori_font">￥</span><span
                                class="coupon_price">{{coupon.price}}</span></span>
                        {% endif %}
                    </div>
                    <div>
                        <div class="coupon_shop">{{coupon.shop}}</div>
                    </div>
                    <div class="coupon_get_div">
                        <a>
                            <span id="coupon_get" class="coupon_get">立即领取</span>
                        </a>
                    </div>

                </a>
            </div>
        </li>

        {% endfor %}

    </ul>
</div>

{% if has_next %}
<div id="moreCoupon" class="am_news_load">
      <span style="color:#333">
          <i class="am-icon-spinner"></i> 查看更多</span>
</div>
{% endif %}

<div style="height:50px"></div>


<script src="{% static 'js/petshow.js' %}"></script>

<script src="{% static 'js/coupon/couponjs.js' %}"></script>

<script>

  //  $(".price").removeClass().addClass("price_down")

    $("#price_tab").click(function(){
        console.log("==============")
        var type = "{{ type }}"
        console.log(type)
        if(type == "down"){
            type = "up"
        }else if( type != null){
            type = "down"
            console.log("=111111==========")
        }
        window.location.href = "{% url 'coupon:type_list' 0 %}".replace('0', type)
    })


</script>

{% endblock %}


