{% extends "base_coupon.html" %}
{% load staticfiles %}


{% block content %}

  <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}' >
  <ul class="am-slides">
      <li>
        	<div onclick="to_first(18988609)" style="overflow: hidden;"><img style="margin-bottom: -20px;" src="https://img.alicdn.com/tps/i4/TB1tyZqLVXXXXXKXFXXx6Mp7VXX-1440-380.png"></div>
      </li>
      <li>
        	<div onclick="to_first(18988664)" style="overflow: hidden;"><img style="margin-bottom: -20px;" src="https://img.alicdn.com/tps/i4/TB1sIJTMXXXXXbFXVXXx6Mp7VXX-1440-380.png"></div>
      </li>
  </ul>
</div>


<div class="banner_navbg" style="background: url({% static 'img/coupon/bannner_smallbg.png' %}) repeat-x;" data-am-sticky>
    <div class="am-g">
        <div class="banner_nav"><span class="am-icon-caret-right">  筛选：</span>
            <a id="select" href="###" class="banner_hover">精选优质</a>
            <a id="goods" href="###">好劵清单</a>
            <a id="like" href="###" style="display:none" >猜你喜欢</a>
        </div>
    </div>
</div>

<div class="am-g am-imglist" id="div_select">
    <ul id="coupon_content" data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-6 am-gallery-default">

        {% for coupon in coupon_list %}
        <li>
            <div class="am-gallery-item am_list_block">

                <a>
                    <a class="am_img_bg" href="{% url 'coupon:detail' coupon.uuid %}" target="_blank">
                        <img class="am_img animated" src="{% static 'img/loading.gif' %}"
                             data-original="{{coupon.img}}"
                             alt="优惠券"/>
                    </a>
                    <span class="coupon_name">{{coupon.name}}</span>

                    <div>
                        <img class="img_juan" src="{% static 'img/coupon/juan.png' %}">

                        <span class="coupon_rule">{{coupon.rule}}</span>
                    </div>

                    <div class="am_listimg_info">
                        <span class="ori_price">原价：
                            <span class="ori_font">￥</span>
                            <span class="coupon_price">{{coupon.price}}</span>
                        </span>
                    </div>
                    <div>
                        <div class="coupon_shop">{{coupon.shop}}</div>
                    </div>
                    <div id="{{coupon.id}}" class="coupon_get_div" data-clipboard-action="copy"
                         value="{{ coupon.phone_url }}"
                         txt="{{ coupon.name }}"
                         logo="{{ coupon.img }}"
                         data-clipboard-target="div">
                        <a class="coupon_url">
                            <span id="coupon_get" class="coupon_get">立即领取</span>
                        </a>
                    </div>

                </a>
            </div>
        </li>

        {% endfor %}

    </ul>
</div>

<div class="am-g am-imglist" id="div_goods" style="display:none">
    <ul id="good_list" data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-6 am-gallery-default">

    </ul>
</div>

<div class="am-g am-imglist" id="div_like" style="display:none">
    <ul id="like_list" data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-6 am-gallery-default">

    </ul>
</div>

{% if has_next %}
<div id="moreCoupon" class="am_news_load">
      <span style="color:#333">
          <i class="am-icon-spinner"></i> 查看更多</span>
</div>
{% endif %}

<div id="moreGoods" class="am_news_load" style="display:none">
      <span style="color:#333">
          <i class="am-icon-spinner"></i> 查看更多</span>
</div>

<div id="moreLike" class="am_news_load" style="display:none">
      <span style="color:#333">
          <i class="am-icon-spinner"></i> 查看更多</span>
</div>


<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd" id="am-modal-bd">
        </div>
    </div>
</div>

<div style="height:50px"></div>


<script src="{% static 'js/petshow.js' %}"></script>


<script>

    var type = "";

    if("{{type}}" == "up" || "{{type}}" == "down"){
        type = "{{type}}"
    }

    var keyword = "{{keyword}}"

    Util.choose(keyword);

    Util.judge();

    Util.moreSelect(type,keyword);

    Util.tab("{{type}}", keyword);

    function cc(e){
        window.open(e.getAttribute("value"))
    }

    function to_detail(item) {
        sessionStorage.setItem("allJson", JSON.stringify(item));
        console.log(item.title)
        window.open("/youhui/goods_detail")
    }

    function to_first(id){
        var url = "/youhui/favorite/" + id
        window.open(url)
    }

</script>

{% endblock %}


