{% extends "base_coupon.html" %}
{% load staticfiles %}


{% block content %}

<div class="am-g am-imglist">
    <ul id="coupon_content" data-am-widget="gallery" class="am-gallery am-avg-sm-2
  am-avg-md-3 am-avg-lg-6 am-gallery-default">

        {% for coupon in coupon_list %}
        <li>
            <div class="am-gallery-item am_list_block">

                <a >
                    <a class="am_img_bg" href="{% url 'coupon:detail' coupon.uuid %}" target="_blank">
                        <img class="am_img animated" src="{% static 'img/loading.gif' %}"
                             data-original="{{coupon.img}}"
                             alt="优惠券"/>
                    </a>
                    <span class="coupon_name">{{coupon.name}}</span>

                    <div>
                        <img class="img_juan" src="{% static 'img/coupon/juan.png' %}">

                        <span class="coupon_rule">{{coupon.rule}}</span>
                    </div>

                    <div class="am_listimg_info">
                        <span class="ori_price">原价：
                            <span class="ori_font">￥</span>
                            <span class="coupon_price">{{coupon.price}}</span>
                        </span>
                    </div>
                    <div>
                        <div class="coupon_shop">{{coupon.shop}}</div>
                    </div>
                    <div id="{{coupon.id}}"  class="coupon_get_div"  data-clipboard-action="copy" value="{{ coupon.phone_url }}"
                         txt="{{ coupon.name }}"
                         logo="{{ coupon.img }}"
                         data-clipboard-target="div">
                        <a class="coupon_url">
                            <span id="coupon_get" class="coupon_get">立即领取</span>
                        </a>
                    </div>

                </a>
            </div>
        </li>

        {% endfor %}

    </ul>
</div>

{% if has_next %}
<div id="moreCoupon" class="am_news_load">
      <span style="color:#333">
          <i class="am-icon-spinner"></i> 查看更多</span>
</div>
{% endif %}

<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd" id="am-modal-bd">
        </div>
    </div>
</div>

<div style="height:50px"></div>


<script src="{% static 'js/petshow.js' %}"></script>



<script>

    var page = 2;
    var type = "";
    var isloading = false;

    if("{{type}}" == "up" || "{{type}}" == "down"){
        type = "{{type}}"
    }

    var keyword = "{{keyword}}"

    Util.judge();

    $("#moreCoupon").click(function(){

        $(".am-icon-spinner").addClass("am-icon-spin");
        if(isloading){
            return
        }
        isloading = true;
        $.ajax({
            type:"GET",
            url:'{% url 'coupon:more_coupon' %}?page='+page + '&type='+type + '&search='+keyword,
            dataType:'json',
            complete:function(){
                isloading = false;
                $(".am-icon-spinner").removeClass("am-icon-spin");
            },
            success:function(response, status){
                isloading = false
                var data = JSON.parse(response)
                $(".am-icon-spinner").removeClass("am-icon-spin");
                if(!data.next){
                    $("#moreCoupon").css("display","none");
                }
                page = data.page+1;

                $.each(data.data,function(i,item){
                var baseurl = "{% url 'coupon:detail' 0 %}".replace('0', item.fields.uuid)

                $("#coupon_content").append("<li>"
                    + "<div class='am-gallery-item am_list_block'> "
                    + " <a> "
                    + "<a class='am_img_bg' href= " + baseurl + " target='_blank' > "
                    + "<img class='am_img animated' src='{% static 'img/loading.gif' %}'"
                    + "data-original='" + item.fields.img + " ' "
                    + " alt='优惠券'/> "
                    + "</a>"
                    + "<span class='coupon_name'>" + item.fields.name + "</span>"
                    + "<div>"
                    + "<img class='img_juan' src='{% static 'img/coupon/juan.png' %}'>"
                    + "<span class='coupon_rule'>" + item.fields.rule + "</span>"
                    + "</div>"
                    + "<div class='am_listimg_info'>"
                    + "<span class='ori_price'>原价："
                    + "<span class='ori_font'>￥</span>"
                    + "<span class='coupon_price'>" + item.fields.price + "</span>"
                    + "</span>"
                    + "</div>"
                    + "<div>"
                    + "<div class='coupon_shop'>"+item.fields.shop+"</div>"
                    + "</div>"
                    + "<div id='"+item.fields.id+"' class='coupon_get_div' data-clipboard-action='copy' value='"+item.fields.phone_url+"'" + "txt='" + item.fields.name +"'" + "logo='" + item.fields.img +"'"
                    + "data-clipboard-target='div'>"
                    + "<a class='coupon_url'>"
                    + "<span id='coupon_get' class='coupon_get'>立即领取</span>"
                    + "</a>"
                    + "</div>"
                    + "</a>"
                    + "</div>"
                    + "</li>"
                )

            })

            if (ClipboardJS.isSupported() && Util.isMobile()) {
                $("#coupon_content").parent().find(".coupon_get").text("复制优惠券");
            } else {
                $(".coupon_get_div").attr("onclick", "cc(this)");
            }

            $('.am_img_bg').removeClass('am_img_bg');
            $(this).find('.am_img').addClass('bounceIn');

            $(".am_list_block").on('mouseover', function(){
                $('.am_img_bg').removeClass('am_img_bg');
                $(this).find('.am_img').addClass('bounceIn');
            });
            $("img.am_img").lazyload();
              $("a.am_img_bg").lazyload({
              effect : 'fadeIn'
            });

            }
        })

    })

    Util.tab("{{type}}", keyword);


    function cc(e){
        window.open(e.getAttribute("value"))
    }

</script>

{% endblock %}


