{% extends "base_coupon.html" %}
{% load staticfiles %}

{% block content %}

<style>
    body{
        font-family:Arial, "Microsoft Yahei";
    }

    .detail_txt{
        width: 100%;
    padding: 8px 22px;
    font-size: 16px;
    color: #222;
    border-bottom: 1px solid #e9e9e9;
    }

</style>

<div class="am_tuya">


    <div class="am_tuya_content">
        <div class="am_tuya_content_l">
            <div class="am_tuya_more">
                <div class="detail_txt">
                    <div style="display:inline">
                        <img class="img_juan" src="{% static 'img/coupon/juan.png' %}">
                        <span class="coupon_rule">{{detail.rule}}</span>
                    </div>

                    <div style="display:inline;float:right" class="coupon_get_div" data-clipboard-action="copy"
                         data-clipboard-target="div">
                        <a class="coupon_url">
                            <span id="coupon_get" class="coupon_get">立即领取</span>
                        </a>
                    </div>

                </div>
                <div class="detail_txt">{{detail.name}}</div>
                <div class="detail_txt">{{detail.shop}}</div>
                <div class="detail_txt">原价：￥{{detail.price}}
                    <div style="display:inline;float:right" class="coupon_get_div">
                        <a href="{{detail.detail_url}}" target="_blank">
                            <span id="detail_get" class="coupon_get">商品链接</span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="am_albums">
                <img class="am_img animated" width="100%" height="100%"
                     src="{{detail.img}}"
                     alt="优惠券"/>
            </div>

        </div>
    </div>

    <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">提示
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd" id="am-modal-bd">
            </div>
        </div>
    </div>

</div>

<script src="{% static 'js/coupon/couponjs.js' %}"></script>

<script src="{% static 'js/clipboard.min.js' %}"></script>

<script>
    console.log("===========")
    console.log(Util.isWeixin())
    console.log(Util.isMobile())

    if (ClipboardJS.isSupported() && Util.isMobile()) {
            $("#coupon_get").text("复制优惠券");
            var clipboard = new ClipboardJS('.coupon_get_div', {
                text: function (trigger) {
                    var url = "{{ detail.phone_url }}";
                    var text = "{{ detail.name }}";
                    var logo = "{{ detail.img }}"
                    var model;
                    var msg;
                    $.ajax({
                        type: "GET",
                        url: '/youhui/create_key?text='+text + '&url=' + url + '&logo=' + logo,
                        dataType: 'json',
                        async: false,
                        success: function (response, status) {
                            model = response.tbk_tpwd_create_response.data.model;
                            console.log(response.tbk_tpwd_create_response.data.model)
                            msg = model + "复制成功，打开「手机淘宝」即可领取！"
                            $("#am-modal-bd").text(msg)
                            $(".coupon_url").attr("data-am-modal", "{target: '#doc-modal-1', closeViaDimmer: 0, width: 300, height: 125}");
                        }
                    })

                    return msg;
                }
            });
            clipboard.on('success', function (e) {
            });
            clipboard.on('error', function (e) {
            });
        } else {
            $(".coupon_url").attr("href","{{ detail.phone_url }}");
            $(".coupon_url").attr("target","_blank");
        }

    $("#price_tab").click(function(){
        console.log("==============")
        var type = "{{ type }}"
        console.log(type)
        if(type == "down"){
            type = "up"
        }else if( type != null){
            type = "down"
            console.log("=111111==========")
        }
        var url = "{% url 'coupon:type_list' 0 %}".replace('0', type)
        window.location.href = url + '?search='+""
    })



</script>

{% endblock %}
