{% load staticfiles %}
<footer class="am_footer">
    <div class="am_footer_con" style="padding-bottom:0">

        <div class="am_footer_erweima">
            <div class="am_footer_weixin" style="margin: 0 auto;float: none">
                <img src="{% static 'img/coupon/wechat.jpg' %}" alt="">
                <div class="am_footer_d_gzwx am-icon-weixin"> 关注微信<br>小姐姐在线解答</div>
            </div>

        </div>

    </div>
    <div class="am_info_line">Copyright(c)2019 <span></span> All Rights Reserved</div>
</footer>
