{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="MarttinFisher - MachiMorales">
    <meta name="robots" content="index/follow"/>
    <meta name="keywords" content="<?=$metakeywords?>"/>
    <meta name="description" content="<?=$metaDescription?>"/>
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/libs/TimeCircles-countdown/TimeCircles.css">

    <link rel="stylesheet" href="../static/libs/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../static/libs/owl-carousel/owl.theme.css">

    <link rel="stylesheet" href="../static/libs/magnific-popup/magnific-popup.css">

    <link rel="stylesheet" href="../static/libs/loading/rolling.css">

    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Oswald:400,300,700'>
    <link rel='stylesheet' type='text/css'
          href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,700italic,600italic,800italic'>

    <link rel="stylesheet" href="../static/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/theme-style.css">

    <link rel="stylesheet" type="text/css" href="../static/css/colors/pink.css">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>
<div id="fullscreenloading">
    <div id="fullscreenloading-content">
        <div id="boxedResult">
            <div id="sendResult">
                <div class="uil-rolling-css">
                    <div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="home" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="title"><span></span>We are getting married!<span></span></h3>
                <ul class="names">
                    <li>Marttin</li>
                    <li class="circle">&amp;</li>
                    <li>Julianne</li>
                </ul>
                <div class="date">Aug <span>23</span> 2018</div>
                <div class="hour">5:00 <span>pm</span></div>
                <div class="place">
                    <h3>Antigua Event Saloon</h3>
                    <p>453 West Street #56-WE3547 - Macondo, Florida.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<header>
    <div class="sticky-wrapper" id="nav-sticky-wrapper">
        <nav id="nav" class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <ul class="names">
                        <li>Marttin</li>
                        <li class="circle">&amp;</li>
                        <li>Julianne</li>
                    </ul>
                </a>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="nav_menu">
                    <ul id="nav_list" class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#home">Home</a></li>
                        <li class=""><a href="#couple">Couple</a></li>
                        <li class=""><a href="#our-story">Our Story</a></li>
                        <li class=""><a href="#gallery">Gallery</a></li>
                        <li class=""><a href="#featured-people">Featured People</a></li>
                        <li class=""><a href="#gift-registry">Gifts</a></li>
                        <li class=""><a href="#rsvp">RSVP</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </div>
</header>


<!-- START SECTION: couple -->
<section id="couple" class="bg-gray-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 text-center">
                <div class="profile">
                    <h2>Marttin <span>Fisher</span></h2>
                    <img src="{% static 'img/1.png' %}" class="img-responsive img-circle" alt="Groom"/>
                    <!--文字描述-->
                    <p></p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 text-center">
                <div class="profile">
                    <h2>Julianne <span>Vélez</span></h2>
                    <img src="{% static 'img/1.png' %}" class="img-responsive img-circle" alt="Groom"/>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: couple -->

<!-- START SECTION: frase -->
<section id="frase" class="img-bg-2" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <h2>举案齐眉同心结<br>执子之手永不变
                    </h2>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: frase -->


<!-- START SECTION: our-story -->
<section id="our-story">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <div class="title-block">
                    <h1>Our <span><em>Story</em></span></h1>
                    <h8>我们的故事</h8>
                    <div class="divider"></div>
                    <p><em>爱上了你，没什么道理，只是刚好情窦初开遇到你</em></p>
                </div>
            </div>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h2 class="timeline-title"><span>2017</span> 年</h2>
                    </div>
                    <div class="timeline-body text-center">
                        <img src="/static/img/wedding/story-img-01.jpg" class="img-responsive" alt="Our Story"/>
                        <h2 class="timeline-title">相遇</h2>
                        <p>于千万人之中遇见你所遇见的人，于千万年之中时间的无涯的荒野里，没有早一步，也没有晚一步，正巧赶上了，那也没有什么别的可说，唯有轻轻问一句："哦，你也在这里吗？"</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h2 class="timeline-title"><span>2018</span> 年</h2>
                    </div>
                    <div class="timeline-body text-center">
                        <img src="/static/img/wedding/story-img-02.jpg" class="img-responsive" alt="Our Story"/>
                        <h2 class="timeline-title">相知</h2>
                        <p>遇见你的那一瞬间，雨停了，风儿告诉我，雨被感动了，爱上你的那一瞬间风停了，雨儿告诉我，风被陶醉了。我爱你，我的心为你跳动着。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h2 class="timeline-title"><span>2019</span> 年</h2>
                    </div>
                    <div class="timeline-body text-center">
                        <img src="/static/img/wedding/story-img-03.jpg" class="img-responsive" alt="Our Story"/>
                        <h2 class="timeline-title">相识</h2>
                        <p>你的心就是我的海角和天涯，我不能去得更远。我们此生共赴天涯海角，不是游走半个地球，而是人间相伴。</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h2 class="timeline-title"><span>2020</span> 年</h2>
                    </div>
                    <div class="timeline-body text-center">
                        <img src="/static/img/wedding/story-img-04.jpg" class="img-responsive" alt="Our Story"/>
                        <h2 class="timeline-title">相爱</h2>
                        <p>因为你，无论我走到了哪里，我看到的都是美丽风景，我听到都是悠扬的红尘恋歌。寒冬里，我用你的文字取暖；炎夏里，我用你的歌声纳凉；春天里，我在我的心田里播种温柔和浪漫；秋天里，我在你的心田里收获真爱和真情。</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-end">
                    <div class="timeline-badge"><i class="fa fa-heart" aria-hidden="true"></i></div>
                </div>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <div class="final-frase">现在<br/><span>我们准备结婚啦...</span></div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: our-story -->

<!-- START SECTION: counter -->
<section id="counter" class="img-bg-3" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">

                <h2>红线相缠绕千匝<br>为卿倾心为君嫁</h2>

                <!-- Countdown -->
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: counter -->


<!-- START SECTION: gallery -->
<section id="gallery" class="bg-gray-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <div class="title-block">
                    <h1>Photo <span><em>Gallery</em></span></h1>
                    <div class="divider"></div>
                    <p><em>Dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean
                        pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac
                        dignissim.</em></p>
                    <div class="gallery_nav">
                        <button class="btn btn-primary btn-bordered filter-button active" data-filter="all">All</button>
                        <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-family">Family
                        </button>
                        <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-friends">
                            Friends
                        </button>
                        <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-trips">Trips
                        </button>
                        <button class="btn btn-primary btn-bordered filter-button" data-filter="gallery-portraits">
                            Portraits
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gallery-popup">

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-family">
                <a href="img/gallery/gallery-image-01.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-01.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-friends">
                <a href="img/gallery/gallery-image-02.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-02.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-family">
                <a href="img/gallery/gallery-image-03.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-03.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-04.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-04.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-trips">
                <a href="img/gallery/gallery-image-05.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-05.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-06.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-06.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-trips">
                <a href="img/gallery/gallery-image-07.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-07.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-08.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-08.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter gallery-portraits">
                <a href="img/gallery/gallery-image-09.jpg" class="mfp-image" title="Gallery image title">
                    <img src="img/gallery/gallery-image-09.jpg" class="img-responsive" alt="Gallery image">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: gallery -->

<!-- START SECTION: featured-people -->
<section id="featured-people">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <div class="title-block">
                    <h1>Featured <span><em>People</em></span></h1>
                    <div class="divider"></div>
                    <p><em>Dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu faucibus. Aenean
                        pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor in est ac
                        dignissim.</em></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="featured">
                    <img src="img/featured/featured-01.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Mark Gamberther</h2>
                        <h4><span><em>Best Man</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu
                            faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor
                            in est ac dignissim.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="featured">
                    <img src="img/featured/featured-03.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Pablo Ibañez</h2>
                        <h4><span><em>Groomsman</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu
                            faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor
                            in est ac dignissim.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="featured">
                    <img src="img/featured/featured-04.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Donald Bessue</h2>
                        <h4><span><em>Groomsman</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu
                            faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor
                            in est ac dignissim.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 featured-right">
                <div class="featured">
                    <img src="img/featured/featured-02.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Christine Doe</h2>
                        <h4><span><em>Maid of honor</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu
                            faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor
                            in est ac dignissim.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="featured">
                    <img src="img/featured/featured-05.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Samantha Markesh</h2>
                        <h4><span><em>Bridesmaid</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu
                            faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor
                            in est ac dignissim.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="featured">
                    <img src="img/featured/featured-06.jpg" class="img-responsive img-circle" alt="Groom"/>
                    <div class="text">
                        <h2>Kesha Martinez</h2>
                        <h4><span><em>Bridesmaid</em></span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porttitor non sem eu
                            faucibus. Aenean pellentesque dui tincidunt, dictum massa congue, euismod ipsum. Duis auctor
                            in est ac dignissim.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: featured-people -->

<!-- START SECTION: gift-registry -->
<section id="gift-registry" class="img-bg-4" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                <div class="title-block">
                    <h1>Gifts <span><em>Registry</em></span></h1>
                    <div class="divider"></div>
                    <p><em>We are registered at the following shops with our names.</em></p>
                </div>
                <div id="owl-logo">
                    <div class="item"><img src="img/gifts-logos/gift-logo-01.png" alt="Owl Image"></div>
                    <div class="item"><img src="img/gifts-logos/gift-logo-02.png" alt="Owl Image"></div>
                    <div class="item"><img src="img/gifts-logos/gift-logo-03.png" alt="Owl Image"></div>
                    <div class="item"><img src="img/gifts-logos/gift-logo-04.png" alt="Owl Image"></div>
                    <div class="item"><img src="img/gifts-logos/gift-logo-05.png" alt="Owl Image"></div>
                    <div class="item"><img src="img/gifts-logos/gift-logo-06.png" alt="Owl Image"></div>
                    <div class="item"><img src="img/gifts-logos/gift-logo-07.png" alt="Owl Image"></div>
                    <div class="item"><img src="img/gifts-logos/gift-logo-08.png" alt="Owl Image"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: gift-registry -->

<!-- START SECTION: rsvp -->
<section id="rsvp">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                <div class="title-block">
                    <h1>Are You <span><em>Attending?</em></span></h1>
                    <div class="divider"></div>
                    <p><em>Please select the events you are going to attend, and fill the following form with to
                        confirm.</em></p>
                </div>

            </div>
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">

                <form id="ajaxForm" data-toggle="validator">
                    <div class="row bot-mrg-20">
                        <div class="col-md-4 text-center">
                            <input type="checkbox" id="checkbox-1" name="events[]" value="Pre-Wedding Dinner">
                            <label for="checkbox-1" class="checkbox-button"><i class="fa fa-circle-o"
                                                                               aria-hidden="true"></i> Pre-Wedding
                                Dinner</label>
                            <p>Victory Gardens Hall, 11 Grant Ave. Carteret NJ 9851 (732) 841-45 90, (732) 634-13 86
                                info@emailname.com</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <input type="checkbox" id="checkbox-2" name="events[]" value="Ceremony">
                            <label for="checkbox-2" class="checkbox-button"><i class="fa fa-circle-o"
                                                                               aria-hidden="true"></i> Ceremony</label>
                            <p>Victory Gardens Hall, 11 Grant Ave. Carteret NJ 9851 (732) 841-45 90, (732) 634-13 86
                                info@emailname.com</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <input type="checkbox" id="checkbox-3" name="events[]" value="Party">
                            <label for="checkbox-3" class="checkbox-button"><i class="fa fa-circle-o"
                                                                               aria-hidden="true"></i> Party</label>
                            <p>Victory Gardens Hall, 11 Grant Ave. Carteret NJ 9851 (732) 841-45 90, (732) 634-13 86
                                info@emailname.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="Your Name" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea rows="5" class="form-control" name="message"
                                          placeholder="Write your message...​" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                </form>

                <button class="btn btn-primary btn-lg" id="ajaxFormSubmit">I´m Attending</button>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION: rsvp -->

<!-- START: footer -->
<section id="footer" class="img-bg-5" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                <h1>Thank You!</h1>
                <ul class="names">
                    <li>Marttin</li>
                    <li class="circle">&amp;</li>
                    <li>Julianne</li>
                </ul>
                <div class="copyright">All Rights Reserved © 2017 | Design: <a href="http://marttinfisher.com"
                                                                               target="_blank">Marttin Fisher</a></div>
            </div>
        </div>
    </div>
</section>
<!-- END: footer -->


    <!-- START: scripts -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Bootstrap main Js File-->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Sticky Navbar -->
    <script type="text/javascript" src="../static/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="../static/js/jquery.nav.js"></script>
    <!-- owl-carousel -->
    <script src="../static/libs/owl-carousel/owl.carousel.min.js"></script>
    <!-- Stellar -->
    <script src="../static/libs/stellar/jquery.stellar.min.js"></script>
    <!-- TimeCircles-countdown -->
    <script src="../static/libs/TimeCircles-countdown/TimeCircles.js"></script>
    <!-- gallery-grid -->
    <script src="../static/libs/gallery-grid/gallery-grid.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="../static/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Bootstrap Validator -->
    <script src="../static/libs/bootstrap-validator/validator.min.js"></script>
    <!-- Theme Main Js file -->
    <script src="../static/js/theme-main.js"></script>
    <!-- END: scripts -->

</body>
</html>