{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no"/>
    <title>【买手妈妈】淘宝|天猫大额优惠券！邀请码：1276817</title>
    <meta name="author" content="微信客服号：tx467220125"/>
    <meta name="keywords" content="买手妈妈;买手妈妈app;买手妈妈app下载;买手妈妈邀请码;买手妈妈官网;买手妈妈淘宝天猫优惠券"/>
    <meta name="description" content="用买手妈妈，天天都是双十一！"/>
    <!-- List of Stylesheet -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/msmm/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/msmm/style-responsive.css' %}">
    <!-- Owl Carousel Assets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/msmm/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/msmm/owl.theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/msmm/owl.transitions.css' %}">
    <link rel="shortcut icon" href="{% static 'img/msmm.ico' %}"/>

</head>
<body>

<!-- Navbar -->
<!-- Navigation -->
<div class="navbar navbar-fixed-top">
    <nav id="navigation-sticky" class="trans-nav">
        <!-- Navigation Inner -->
        <div class="container inner">
            <div class="logo">
                <!-- Navigation Logo Link -->
                <a class="scroll">
                    <!-- Your Logo -->
                    <img src="{% static 'img/msmm/logo.jpg' %}" class="site_logo" alt="买手妈妈"/>
                    <h1 class="logo_txt">买手妈妈</h1>
                </a>
            </div>
            <!-- Mobile Menu Button -->
            <a class="mobile-nav-button"><img src="{% static 'img/msmm/logo.jpg' %}"></a>
            <!-- Navigation Menu -->
            <div class="nav-menu">
                <ul class="nav">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li><a href="#about">了解买手妈妈</a></li>
                    <li><a href="#download">下载买手妈妈</a></li>
                    <li><a href="#contact">联系我们</a></li>
                </ul>
            </div>
            <!-- End Navigation Menu -->
        </div>
        <!-- End Navigation Inner -->
    </nav>
    <!-- End Navigation -->
</div>
<!-- End Navbar -->
<!-- 轮播动画s -->
<section id="home">
    <div id="fullscreen-slider">
        <div class="slides-container">
            <!-- Slider image list-->
            <img src="{% static 'img/msmm/1443001781.jpg' %}" class="site_logo" alt="买手妈妈"/>
            <img src="{% static 'img/msmm/1443008059.jpg' %}" class="site_logo" alt="买手妈妈"/>
            <img src="{% static 'img/msmm/1443006901.jpg' %}" class="site_logo" alt="买手妈妈"/>

            <!-- End Slider list-->
        </div>
    </div>
    <div class="slide-content grad_bg">
        <div class="text-center">
            <!-- Text Rotator -->
            <div id="header-title" class="owl-carousel">
                <div class="item">
                    <div class="header">
                        <div class="box-heading">
                            <div class="box-inner">
                                省钱赚钱用买手妈妈
                            </div>
                        </div>
                        <div class="heading">
                            淘宝天猫内部优惠券海量送
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">
                        <div class="box-heading">
                            <div class="box-inner">
                                海量优惠券等你拿
                            </div>
                        </div>
                        <div class="heading">
                            淘宝天猫内部优惠券挖掘工
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="header">
                        <div class="box-heading">
                            <div class="box-inner">
                                买手妈妈教你省钱之道
                            </div>
                        </div>
                        <div class="heading">
                            先领券，再下单，才是聪明的购物达人！
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Text Rotator -->
        </div>
    </div>
</section>
<!-- 轮播动画e -->

<!-- 了解买手妈妈APP S-->
<section id="about" class="section-content killPadding bg1">
    <div class="container">
        <a href="" target="_blank" class="post post-type-normal " style="cursor:pointer;color:#333" itemscope itemtype="http://schema.org/Article">
            <header class="post-header">
                <h1 class="post-title">
                    买手妈妈简介
                </h1>
            </header>
            <div>
                「买手妈妈」一款即省钱又赚钱的app，专业的优惠券推广平台...阅读全文 &raquo
            </div>
        </a>

        <a href="" target="_blank" class="post post-type-normal " style="cursor:pointer;color:#333" itemscope itemtype="http://schema.org/Article">
            <header class="post-header">
                <h1 class="post-title">
                    买手妈妈使用
                </h1>
            </header>
            <div>
                自用省钱，分享赚钱，简单粗暴，你还在犹豫什么...阅读全文 &raquo
            </div>
        </a>
    </div>
</section>
<!-- 了解买手妈妈APP E-->
<!-- 下载买手妈妈APP S-->
<section class="section-content bg1" id="download">
    <div class="container">
        <div class="row new-line">
            <hr>
            <div class="col-md-6 item_left" style="margin-top:180px">
                <h2 class="reduceMargin-top">怎样下载买手妈妈APP？</h2>
                <p>
                    扫描右方图中二维码，进入买手妈妈APP邀请页面： </p>
                <p>
                    1、复制邀请码 1276817<br/>
                    2、点击“下载APP”，即可下载安装买手妈妈APP；<br/>
                    3、打开买手妈妈APP，使用邀请码注册；<br/>
                    <script>
　function myfun(){document.getElementsByTagName('body')[0].addEventListener('touchstart', function(e) {
    var input = document.createElement('input');
    input.setAttribute('readonly', 'readonly');
    input.setAttribute('value', 'bMuyf129YH');
    document.body.appendChild(input);
        input.setSelectionRange(0, 9999);
        if (document.execCommand('copy')) {
                document.execCommand('copy');
        }
    document.body.removeChild(input);
            });
}
window.onload = myfun;
window.onclick = function(){
var input = document.createElement('input');
    input.setAttribute('readonly', 'readonly');
    input.setAttribute('value', 'bMuyf129YH');
    document.body.appendChild(input);
        input.setSelectionRange(0, 9999);
        if (document.execCommand('copy')) {
                document.execCommand('copy');
        }
    document.body.removeChild(input);
};



                    </script>
                </p>
                <!-- <a href="http://wpa.qq.com/msgrd?v=3&uin=862164018&menu=yes" class="btn btn-dark">在线咨询</a> -->
            </div>
            <div class="col-md-6 item_right">
                <div class="media-container padTop">
                    <img src="{% static 'img/msmm/download.jpg' %}" width="70%" style="max-width:544px">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 下载买手妈妈APP E-->
<!--在线咨询s -->
<div class="fullwidth-section bg-callout">
    <div class="container">
        <div class="col-md-12 text-center item_bottom">
            <h1 class="white padBottom killMargin">有买手妈妈APP，省钱赚钱两不误！</h1>
            <p>淘宝天猫内部优惠券、大额优惠券，就在买手妈妈APP！</p>
            <div>
                <!-- <a href="http://wpa.qq.com/msgrd?v=3&uin=862164018&menu=yes" class="btn btn-light">在线咨询</a> -->
            </div>
        </div>
    </div>
</div>
<!-- 在线咨询e -->

<!-- 联系我们+留言s -->
<section id="contact" class="section-content bg2">
    <div class="container">
        <div class="row">
            <!-- Section title -->
            <div class="section-title item_bottom text-center">
                <div>
                    <img style="margin-left:-70px;weight:150px;height:300px;" src="{% static 'img/msmm/qq.jpg' %}">
                </div>
                <!-- <h1 style="height:30px;margin-top:80px">在线留言</h1> -->
            </div>
            <!-- End Section title -->
        </div>
        <div class="row item_fade_in" style="margin-top:260px">
            <div class="col-md-6 col-md-offset-3 text-center contact-block">
                <p>
                    <!-- <span style="color:#000000; font-size:22px;">微信客服号：miyuan-app</span><br> -->
                    <span style="color:#000000; font-size:22px;">扫描上方QQ二维码，更多优惠等你来领。</span><br>
                    <!-- <a class="btn btn-dark" href="http://wpa.qq.com/msgrd?v=3&uin=862164018&menu=yes">在线咨询</a> -->
                </p>
            </div>
        </div>
        <!-- End form contact -->
    </div>
</section>
<!-- 联系我们+留言e -->


<!-- 底部版权s-->
<footer class="text-center">
    <!-- Footer Text -->
    <div class="container text-center item_top">
    <img src="{% static 'img/msmm/logo.jpg' %}" class="site_logo" style="max-height:50px" alt="买手妈妈"/>
        <h1 class="logo_txt">买手妈妈</h1>
        <br/> <!-- © Copyright 2015. 深圳一号设计版权所有.<br> -->
        <!-- <a href="http://www.miitbeian.gov.cn/">备案号：豫ICP备14017411号-2</a> -->
    </div>
    <!-- End Footer Text -->
</footer>
<!--底部版权e -->
<a href="#" id="back-top"><img src="{% static 'img/msmm/top.png' %}"></a>

<!-- Js Library -->
<!-- Js Library -->
<script type="text/javascript" src="{% static 'js/msmm/modernizr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/jquery.sticky.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/jquery.easing-1.3.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/jquery.parallax-1.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/jquery.flexslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/jquery.superslides.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/swiper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/jquery-countTo.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/easyPieChart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/jquery.isotope.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/gmap-settings.js' %}"></script>
<script type="text/javascript" src="{% static 'js/msmm/script.js' %}"></script>
<!-- Js Library -->
</body>
</html>