{% extends "base_stu.html" %}
{% load staticfiles %}

{% block content %}
<div class="site-header">
    <div class="main-navigation">
        <div class="responsive_menu">
            <ul>
                <li><a class="show-1 templatemo_home" href="#">Gallery</a></li>
                <li><a class="show-2 templatemo_page2" href="#">Our team</a></li>
                <li><a class="show-3 templatemo_page3" href="#">Services</a></li>
                <li><a class="show-5 templatemo_page5" href="#">Contact</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="row templatemo_gallerygap">
                <div class="col-md-3 col-sm-12">
                    <a href="#">11111</a>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.main-navigation -->
</div>

<div id="menu-container">
    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
        <div class="container">
            <div class="row templatemorow">

                {% for img in imgs %}

                {% if forloop.counter == 1 %}
                1
                {% elif forloop.counter == 2 %}
                2
                {% endif %}


                {% endfor %}

                <div class="hex col-sm-6">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/1.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/1.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/2.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/2.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6  templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/3.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/3.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/4.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/4.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/5.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/5.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/6.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/6.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/7.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/7.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(images/gallery/8.jpg);">
                                    <div class="overlay">
                                        <a href="images/gallery/8.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(images/gallery/9.jpg);">
                                    <div class="overlay">
                                        <a href="images/gallery/9.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="newpost" class="container answer_list templatemo_gallerytop">
            <div class="row templatemorow">


                <div class="hex col-sm-6">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/1.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/1.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/2.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/2.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6  templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/3.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/3.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/4.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/4.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/5.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/5.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/6.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/6.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/7.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/7.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(images/gallery/8.jpg);">
                                    <div class="overlay">
                                        <a href="images/gallery/8.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(images/gallery/9.jpg);">
                                    <div class="overlay">
                                        <a href="images/gallery/9.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="newpost1" class="container answer_list templatemo_gallerytop">
            <div class="row templatemorow">


                <div class="hex col-sm-6">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/1.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/1.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/2.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/2.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6  templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/3.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/3.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/4.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/4.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/5.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/5.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/6.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/6.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url({% static 'img/stu/7.jpg' %});">
                                    <div class="overlay">
                                        <a href="{% static 'img/stu/7.jpg' %}" data-rel="lightbox"
                                           class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(images/gallery/8.jpg);">
                                    <div class="overlay">
                                        <a href="images/gallery/8.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(images/gallery/9.jpg);">
                                    <div class="overlay">
                                        <a href="images/gallery/9.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="templatemo_loadmore">
                    <button class="gallery_more" id="button" onClick="showhide()">Load More</button>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}