{% extends "base_stu.html" %}
{% load staticfiles %}

{% block content %}
<div class="site-header">
    <div class="main-navigation">
        <div class="responsive_menu">
            <ul>
                <li><a class="show-1 templatemo_home" href="#">Gallery</a></li>
                <li><a class="show-2 templatemo_page2" href="#">Our team</a></li>
                <li><a class="show-3 templatemo_page3" href="#">Services</a></li>
                <li><a class="show-5 templatemo_page5" href="#">Contact</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="row templatemo_gallerygap">
                <div class="col-md-3 col-sm-12">
                    <a href="#"></a>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.main-navigation -->
</div>

<div id="menu-container">
    <!-- gallery start -->
    <div class="content homepage" id="menu-1">
        <div class="container">
            <div class="row templatemorow">

                {% for img in imgs %}

                {% if forloop.counter == 1 %}
                <div class="hex col-sm-6">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(/upload/{{img.img}});">
                                    <div class="overlay">
                                        <a href="/upload/{{img.img}}" data-rel="lightbox"
                                           class="fa fa-expand" onclick="detail({{img.id}})"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif forloop.counter == 2 %}
                <div class="hex col-sm-6">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(/upload/{{img.img}});">
                                    <div class="overlay">
                                        <a href="/upload/{{img.img}}" data-rel="lightbox"
                                           class="fa fa-expand" onclick="detail({{img.id}})"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif forloop.counter == 3 %}

                <div class="hex col-sm-6  templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(/upload/{{img.img}});">
                                    <div class="overlay">
                                        <a href="/upload/{{img.img}}" data-rel="lightbox"
                                           class="fa fa-expand" onclick="detail({{img.id}})"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% elif forloop.counter == 4 %}
                <div class="hex col-sm-6  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(/upload/{{img.img}});">
                                    <div class="overlay">
                                        <a href="/upload/{{img.img}}" data-rel="lightbox"
                                           class="fa fa-expand" onclick="detail({{img.id}})"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif forloop.counter == 5 %}
                <div class="hex col-sm-6  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(/upload/{{img.img}});">
                                    <div class="overlay">
                                        <a href="/upload/{{img.img}}" data-rel="lightbox"
                                           class="fa fa-expand" onclick="detail({{img.id}})"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif forloop.counter == 6 %}
                <div class="hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(/upload/{{img.img}});">
                                    <div class="overlay">
                                        <a href="/upload/{{img.img}}" data-rel="lightbox"
                                           class="fa fa-expand" onclick="detail({{img.id}})"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif forloop.counter == 7 %}
                <div class="hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(/upload/{{img.img}});">
                                    <div class="overlay">
                                        <a href="/upload/{{img.img}}" data-rel="lightbox"
                                           class="fa fa-expand" onclick="detail({{img.id}})"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif forloop.counter == 8 %}
                <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top3">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(/upload/{{img.img}});">
                                    <div class="overlay">
                                        <a href="/upload/{{img.img}}" data-rel="lightbox" class="fa fa-expand" onclick="detail({{img.id}})"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif forloop.counter == 9 %}
                <div class="hex col-sm-6 templatemo-hex-top1  templatemo-hex-top2">
                    <div>
                        <div class="hexagon hexagon2 gallery-item">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2" style="background-image: url(/upload/{{img.img}});">
                                    <div class="overlay">
                                        <a href="/upload/{{img.img}}" data-rel="lightbox" class="fa fa-expand" onclick="detail({{img.id}})"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% endfor %}

            </div>
        </div>
        {% if has_next %}
        <div class="container" id="load_more">
            <div class="row">
                <div class="templatemo_loadmore" id="qqqq">
                    <button class="gallery_more" id="button" onclick="load()">Load More</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <audio  autoplay="autoplay" loop="loop" id="audio" src="{% static 'dfp.mp3' %}">

</audio>
</div>
<script>
    var moreId= 1;
    var page = 2;

    function detail(id){

        $.ajax({
            type:'GET',
            url:"{% url 'stu:count' %}?id="+id,
            success:function(rep){

            }
        })
    }

    function load(){
        $.ajax({
            type:'GET',
            url:"{% url 'stu:moreImg' %}?page="+page,
            dataType:'json',
            success:function(response, status){
                var data = JSON.parse(response)
                var style = ""

                if(!data.next){
                    $("#load_more").css("display","none");
                }

                page = data.page+1;

                $("#load_more").before('<div class="container answer_list templatemo_gallerytop"> <div id="moreId'+moreId+'" class="row templatemorow"></div> </div> ')

                $.each(data.data,function(i,item){
                    var imgUrl = "/upload/"+item.fields.img
                    var id = item.pk
                    if(i==0){
                        style = "hex col-sm-6"
                    }else if(i==1){
                        style = "hex col-sm-6"
                    }else if(i==2){
                        style = "hex col-sm-6  templatemo-hex-top2"
                    }else if(i==3){
                        style = "hex col-sm-6  templatemo-hex-top3"
                    }else if(i==4){
                        style = "hex col-sm-6  templatemo-hex-top3"
                    }else if(i==5){
                        style = "hex col-sm-6 hex-offset templatemo-hex-top1 templatemo-hex-top2"
                    }else if(i==6){
                        style = "hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3"
                    }else if(i==7){
                        style = "hex col-sm-6 templatemo-hex-top1 templatemo-hex-top3"
                    }else if(i==8){
                        style = "hex col-sm-6 templatemo-hex-top1 templatemo-hex-top2"
                    }

                    $("#moreId"+moreId).append('<div class="'+style+'">'
                        + '<div>'
                        + '<div class="hexagon hexagon2 gallery-item">'
                        + '<div class="hexagon-in1">'
                        + '<div class="hexagon-in2" style="background-image: url('+ imgUrl +');"> '
                        + '<div class="overlay">'
                        + ' <a href="'+ imgUrl +'" data-rel="lightbox" class="fa fa-expand" onclick="detail('+id+')"></a> '
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                        + '</div>'
                    )

                })
                moreId +=1;
                //鼠标经过动画
                $(".overlay").hide();
                $('.gallery-item').hover(
                      function() {
                        $(this).find('.overlay').addClass('animated fadeIn').show();
                      },
                      function() {
                        $(this).find('.overlay').removeClass('animated fadeIn').hide();
                      }
                );
                //移除最后一个lightbox，重新加载
                $("#lightbox").eq(-1).remove();
                $(function(){
                    $('[data-rel="lightbox"]').lightbox();
                });


                }
        })



    }


if(/Android|webOS|iPhone|BlackBerry/i.test(navigator.userAgent)) {
//--创建页面监听，等待微信端页面加载完毕 触发音频播放
document.addEventListener('DOMContentLoaded', function () {
    function audioAutoPlay() {
        var audio = document.getElementById('audio');
            audio.play();
        document.addEventListener("WeixinJSBridgeReady", function () {
            audio.play();
        }, false);
    }
    audioAutoPlay();
});
	} else {
		$("#audio").attr("src","{% static 'dfp.mp3' %}");

	}



</script>


{% endblock %}