{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container sidebar-position-left page-detail  ">
    {% include "header.html" %}

    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap" style="padding-left: 20px">
                <div>本数据截止时间<span style="font-size: 20px;color: #F71D51">{{time}}</span></div>
                <div style="font-size: 14px;color: grey">所有数据仅供参考，欢喜商城对所有数据有最终解释权，请勿随意转载/传播，侵删！<br>数据为本周数据，仅提供倒数{{ag_num}}位</div>
                <div id="content" class="content">
                     {% for ag in last_ag %}
                         <div>{{ag.0}} {{ag.1}}</div>
                     {% endfor %}
                </div>
            </div>
            {% include "side.html" %}

        </div>
    </main>

    {% include "footer.html" %}
</div>


{% endblock %}