{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container sidebar-position-left page-archive  ">
    {% include "header.html" %}
    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div id="content" class="content">

                    <section id="posts" class="posts-collapse">
                        <span class="archive-move-on"></span>

                        <span class="archive-page-counter">

                      OK! 目前共计 40 篇日志。 继续努力。
                    </span>


                        {% regroup blogs by pub_time.year as dates_by_year %}
                        {% for year in dates_by_year %}
                        <div class="collection-title">
                            <h2 class="archive-year motion-element" id="archive-year-2018"
                                style="opacity: 1; display: block; transform: translateX(0px);">{{ year.grouper }}</h2>
                        </div>

                        {% regroup year by pub_time.month as month_post_group %}
                        {% for d in year.list %}

                        <article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article"
                                 style="opacity: 1; display: block; transform: translateY(0px);">
                            <header class="post-header">
                                <h2 class="post-title">
                                    <a class="post-title-link" href="/2018/03/30/2018-03-30-I-am-helixminer.html"
                                       itemprop="url">
                                        <span itemprop="name"> {{d.title}}</span>
                                    </a>
                                </h2>
                                <div class="post-meta">
                                    <time class="post-time" itemprop="dateCreated" datetime="2018-03-30T00:00:00+08:00"
                                          content="2018-03-30">{{ d.pub_time |date:'m' }}-{{ d.pub_time |date:'d' }}
                                    </time>
                                </div>
                            </header>
                        </article>
                        {% endfor %}
                        {% endfor %}

                    </section>
                    <nav class="pagination">
                        {% if blogs.has_previous %}
                            <a class="extend prev" rel="prev" href="?page={{ blogs.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                        {% endif %}

                        {% for pg in blogs.paginator.page_range %}
                            {% if blogs.number == pg %}
                        <span class="page-number current">{{pg}}</span>
                            {% else %}
                        <a class="page-number" href="?page={{pg}}">{{pg}}</a>
                            {% endif %}
                        {% endfor %}

                        {% if blogs.has_next %}
                            <a class="extend next" rel="next" href="?page={{ blogs.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                        {% endif %}

                    </nav>

                </div>

            </div>
            {% include "side.html" %}

        </div>
    </main>
    {% include "footer.html"  %}
</div>

{% endblock %}

{% block other %}
<script type="text/javascript" id="motion.page.archive">
    $('.archive-year').velocity('transition.slideLeftIn');
</script>

{% endblock %}


