{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="container sidebar-position-left  ">
    {% include "header.html" %}
    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div id="content" class="content">

                    <section id="posts" class="posts-collapse">
                        <div class="collection-title">
                            <h1 style="margin-left:10px">{{type}}
                                <small>分类</small>
                            </h1>
                        </div>

                        {% for blog in blogs %}
                        <article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
                            <header class="post-header">
                                <h2 class="post-title">
                                    <a class="post-title-link" href="{% url 'blog:detail' blog.id %}" target="_blank"
                                       itemprop="url">
                                        <span itemprop="name">{{blog.title}}</span>
                                    </a>
                                </h2>
                                <div class="post-meta">
                                    <time class="post-time" itemprop="dateCreated"
                                          datetime="2018-03-30T00:00:00+08:00"
                                          content="{{blog.pub_time| date:'m-d' }}">
                                        {{blog.pub_time | date:"m-d"}}
                                    </time>
                                </div>
                            </header>
                        </article>
                        {% endfor %}


                    </section>

                    <nav class="pagination">
                        {% if blogs.has_previous %}
                        <a class="extend prev" rel="prev" href="?page={{ blogs.previous_page_number }}"><i
                                class="fa fa-angle-left"></i></a>
                        {% endif %}

                        {% for pg in blogs.paginator.page_range %}
                        {% if blogs.number == pg %}
                        <span class="page-number current">{{pg}}</span>
                        {% else %}
                        <a class="page-number" href="?page={{pg}}">{{pg}}</a>
                        {% endif %}
                        {% endfor %}

                        {% if blogs.has_next %}
                        <a class="extend next" rel="next" href="?page={{ blogs.next_page_number }}"><i
                                class="fa fa-angle-right"></i></a>
                        {% endif %}

                    </nav>
                </div>


            </div>
            {% include "side.html" %}
        </div>
    </main>
    {% include "footer.html" %}
</div>

{% endblock %}