{% load staticfiles %}
<header id="header" class="header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="header-inner">
            <div class="site-brand-wrapper">
                <div class="site-meta ">
                    <div class="custom-logo-site-title">
                        <a href="{% url 'blog:index' %}" class="brand" rel="start">
                            <span class="logo-line-before"><i></i></span>
                            <span class="site-title">{{msg.name}}</span>
                            <span class="logo-line-after"><i></i></span>
                        </a>
                    </div>
                    <p class="site-subtitle"></p>
                </div>
                <div class="site-nav-toggle">
                    <button>
                        <span class="btn-bar"></span>
                        <span class="btn-bar"></span>
                        <span class="btn-bar"></span>
                    </button>
                </div>
            </div>
            <nav class="site-nav">
                <ul id="menu" class="menu">
                    <li class="menu-item menu-item-home">
                        <a href="{% url 'blog:index' %}" rel="section">
                            <i class="menu-item-icon fa fa-fw fa-home"></i> <br/>
                            首页
                        </a>
                    </li>
                    <li class="menu-item menu-item-home" style="display: none">
                        <a href="{% url 'blog:talk' %}" rel="section" target="_blank">
                            <i class="menu-item-icon fa fa-fw fa-home"></i> <br/>
                            杂谈
                        </a>
                    </li>
                    <li class="menu-item menu-item-archives">
                        <a href="{% url 'blog:archive' %}" rel="section" target="_blank">
                            <i class="menu-item-icon fa fa-fw fa-archive"></i> <br/>
                            归档
                        </a>
                    </li>
                    <li class="menu-item menu-item-categories">
                        <a href="{% url 'blog:category' %}" rel="section" target="_blank">
                            <i class="menu-item-icon fa fa-fw fa-th"></i> <br/>
                            分类
                        </a>
                    </li>
                    <li class="menu-item menu-item-about">
                        <a href="{% url 'blog:category_name' %}" rel="section" target="_blank">
                            <i class="menu-item-icon fa fa-fw fa-magic"></i> <br/>
                            小技巧
                        </a>
                    </li>
                    <li class="menu-item menu-item-about">
                        <a href="{% url 'blog:about' %}" rel="section" target="_blank">
                            <i class="menu-item-icon fa fa-fw fa-user"></i> <br/>
                            关于
                        </a>
                    </li>
                    <li class="menu-item menu-item-about box2" style="display:none">
                        <a rel="section" target="_blank">
                            <span><img src="{% static 'img/tb.jpg' %}" alt=""/>
                            </span>
                            <i class="menu-item-icon fa fa-fw fa-book"></i> <br/>
                            双11
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>