{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="container sidebar-position-left page-home  ">
    {% include "header.html" %}
    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div id="content" class="content">
                    <section id="posts" class="posts-expand">
                        {% for blog in blogs %}
                        <article class="post post-type-normal " itemscope itemtype="http://schema.org/Article">
                            <link itemprop="mainEntityOfPage"
                                  href="http://huangshujia.me/2018/03/30/2018-03-30-I-am-helixminer.html">
                            <span hidden itemprop="author" itemscope itemtype="http://schema.org/Person">
							  <meta itemprop="name" content="程序猿tx">
							  <meta itemprop="description" content="">
							  <meta itemprop="image" content="/images/avatar.jpg">
							</span>
                            <span hidden itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
							  <meta itemprop="name" content="程序猿tx">
							</span>
                            <header class="post-header">
                                <h1 class="post-title" itemprop="name headline">
                                    <a class="post-title-link" href="/2018/03/30/2018-03-30-I-am-helixminer.html"
                                       itemprop="url">{{blog.title}}</a>
                                </h1>
                                <div class="post-meta">
                                    <span class="post-time">
                                          <span class="post-meta-item-icon">
                                            <i class="fa fa-calendar-o"></i>
                                          </span>
                                        <span class="post-meta-item-text">发表于</span>
                                          <time title="创建于" itemprop="dateCreated datePublished"
                                                datetime="{{blog.pub_time}}">
                                            {{blog.pub_time}}
                                          </time>
                                        </span>
                                    <span class="post-category">
                                        <span class="post-meta-divider">|</span>
                                        <span class="post-meta-item-icon">
                                        <i class="fa fa-folder-o"></i>
                                      </span>

                                        <span class="post-meta-item-text">分类于</span>

                                        <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
                                          <a href="/categories/生物信息/" itemprop="url" rel="index">
                                            <span itemprop="name">
                                                {{ blog.type_id.all | join:"，" }}
                                            </span>
                                          </a>
                                        </span>
                                    </span>
                                    <span class="post-comments-count">
                                        <span class="post-meta-divider">|</span>
                                        <span class="post-meta-item-icon">
                                          <i class="fa fa-comment-o"></i>
                                        </span>
                                        <a href="/2018/03/30/2018-03-30-I-am-helixminer.html#comments"
                                           itemprop="discussionUrl">
                                          <span class="post-comments-count disqus-comment-count"
                                                data-disqus-identifier="2018/03/30/2018-03-30-I-am-helixminer.html"
                                                itemprop="commentCount"></span>
                                        </a>
                                      </span>
                                    <span id="/2018/03/30/2018-03-30-I-am-helixminer.html" class="leancloud_visitors"
                                          data-flag-title="{{blog.title}}">
                                           <span class="post-meta-divider">|</span>
                                           <span class="post-meta-item-icon">
                                             <i class="fa fa-eye"></i>
                                           </span>
                                             <span class="post-meta-item-text">阅读次数 </span>
                                             <span class="leancloud-visitors-count"></span>
                                    </span>
                                </div>
                            </header>
                            <div class="post-body" itemprop="articleBody">
                                {{blog.desc}}
                                <!--noindex-->
                                <div class="post-button text-center">
                                    <a class="btn" href="/2018/03/30/2018-03-30-I-am-helixminer.html#more"
                                       rel="contents">
                                        阅读全文 &raquo;
                                    </a>
                                </div>
                                <!--/noindex-->

                            </div>
                            <footer class="post-footer">
                                <div class="post-eof"></div>
                            </footer>
                        </article>
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </main>
</div>


{% endblock %}