<div class="sidebar-toggle">
    <div class="sidebar-toggle-line-wrap">
        <span class="sidebar-toggle-line sidebar-toggle-line-first"></span>
        <span class="sidebar-toggle-line sidebar-toggle-line-middle"></span>
        <span class="sidebar-toggle-line sidebar-toggle-line-last"></span>
    </div>
</div>

<aside id="sidebar" class="sidebar">
    <div class="sidebar-inner">

        <section class="site-overview sidebar-panel sidebar-panel-active">
            <div class="site-author motion-element" itemprop="author" itemscope
                 itemtype="http://schema.org/Person">
                <img class="site-author-image" itemprop="image"
                     src="/upload/{{msg.avatar}}"
                     alt="{{msg.name}}"/>
                <p class="site-author-name" itemprop="name">{{msg.name}}</p>
                <p class="site-description motion-element" itemprop="description"></p>
            </div>

            <div class="links-of-author motion-element">
              <span class="links-of-author-item">
                <a href="{{msg.jianshu}}" target="_blank" title="GitHub">
                    <i class="fa fa-fw"></i>
                  简书
                </a>
              </span>
                <span class="links-of-author-item">
                <a href="{{msg.juejin}}" target="_blank" title="Weibo">
                    <i class="fa fa-fw"></i>
                  掘金
                </a>
              </span>
                <span class="links-of-author-item">
                <a href="{{msg.zhihu}}" target="_blank" title="Zhihu">
                    <i class="fa fa-fw"></i>
                  知乎
                </a>
              </span>
            </div>
        </section>
    </div>
</aside>