{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container sidebar-position-left page-detail  ">
    {% include "header.html" %}

    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div id="content" class="content">
                    <section id="posts" class="posts-expand">

                        <img src="{{img}}">

                    </section>

                </div>
            </div>
            {% include "side.html" %}

        </div>
    </main>

    {% include "footer.html" %}
</div>


{% endblock %}